%form
  %label(for='firstname')Firstname
  %input(name='firstname' type='text' value='{{ firstname }}')
  %br
  %label(for='lastname')Lastname
  %input(name='lastname' type='text' value='{{ lastname }}')
  %br
  %label(for='address')Address
  %input(name='address' type='text' value='{{ address }}')
  %br
  %label(for='zipcode')Zipcode
  %input(name='zipcode' type='text' value='{{ zipcode }}')
  %br
  %label(for='city')City
  %input(name='city' type='text' value='{{ city }}')
  %br
  %label(for='country')Country
  %input(name='country' type='text' value='{{ country }}')
  %br
  %label(for='phone')Phone
  %input(name='phone' type='text' value='{{ phone }}')
  %br
  %label(for='twitter')Twitter
  %input(name='twitter' type='text' value='{{ twitter }}')
  %br
  %button {{ submit_text }}
