%h1 AdBone - backbone based address management
%p Here goes the application

%script(id="contact" type="text/html")
  %li
    %a(href="#contacts/{{ id }}") {{ firstname }}
    %span(class="contact-destroy")Delete

%div#notice
%div#app

%script(type="text/javascript")
  $(function(){ App.init(); });

