%h1 AdBone - backbone based address management
%p Here goes the application

=ich_templates :except => [:noops]

%div#notice
%div#app

%script(type="text/javascript")
  $(function(){ App.init(); });

